<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIQm1GwSORt8vjow97eJ6_qN5oNCy5uRA</string>
	<key>GCM_SENDER_ID</key>
	<string>730556848854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.studenthelperapp</string>
	<key>PROJECT_ID</key>
	<string>student-helper-app-wtvmhc</string>
	<key>STORAGE_BUCKET</key>
	<string>student-helper-app-wtvmhc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730556848854:ios:ac67e21d266a5f5b800777</string>
</dict>
</plist>